# Environment Variables for Railway Deployment

# Django Secret Key (Use the generated one or create new)
SECRET_KEY=#2lth^f$hu&bld7x76ihltzx=c)q%a2qenc^5q+6pgat&&xg61

# Debug Mode (Set to False in production)
DEBUG=False

# Database URL (Automatically provided by Railway PostgreSQL)
# Leave empty - Railway will inject this automatically
DATABASE_URL=

# Cloudinary Configuration (Media Storage)
CLOUDINARY_CLOUD_NAME=dmdjz28ru
CLOUDINARY_API_KEY=482843432266249
CLOUDINARY_API_SECRET=72h8xldIO8hDwDgopJ9M_67CzxI
